@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    /* background-color: black; */
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.body{
    padding: 10px;
    margin: 0;
    background-color: white;
}
.hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: black;
    border: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 10px 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 230px;
}

.navbar .logo{
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
    padding: 40px 10px;
    /* width: 30%; */
    /* height: 100%; */
}

.navbar-menu a{
    display: inline;
    list-style: none;
    padding: 20px;
    padding-left: 30px;
    color: #900001;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}


.navbar li{
    cursor: pointer;
}

.body-1{
    background-color: #fff;
    border-radius: 0;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

/* Header Styles */
h1 {
    font-size: 60px;
    color: #a90c0c;
    text-align: center;
    padding: 20px;
}

.patron-in-cheif {
    font-size: 30px;
    color: #a90c0c;
    text-align: center;
    padding: 10px;
}

.patron-in-cheif h2{
    font-size: 50px;
    color: #a90c0c;
    text-align: center;
    padding: 10px;
}

.patron-in-cheif h3{
    font-size: 30px;
    color: #11ACD5;
    text-align: center;
    padding: 10px;
}

.patron-in-cheif h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 10px;
    font-family: cursive;
}

.patron{
    font-size: 30px;
    color: #a90c0c;
    text-align: center;
    padding: 10px;
}

.patron h2{
    font-size: 50px;
    color: #a90c0c;
    text-align: center;
    padding: 10px;
}

.patron h3{
    font-size: 30px;
    color: #11ACD5;
    text-align: center;
    padding: 10px;
}

.patron h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 10px;
    font-family: cursive;
}

.underline {
    width: 40%;
    height: 4px;
    background-color: rgb(128, 98, 98);
    margin: 10px auto;
    border-radius: 2px;
}

/* Managers Section */
.managers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cheif,
.executive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 25%;
    height: auto;
    gap: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cheif:hover,
.executive:hover {
    background-color: #a9a9a9;
    transform: scale(1.05);
    cursor: pointer;
}

.cheif img,
.executive img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);;
}

.cheif h2,
.executive h2 {
    background-color: #fff;
    font-size: 20px;
    color: #11ACD5;
    text-align: center;
}

.cheif h3,
.executive h3 {
    background-color: #fff;
    color: #a90c0c;
    /* color: whitesmoke; */
    font-size: 20px;
    font-family: cursive;
}

.cheif h4,
.executive h4 {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.cheif p,
.executive p{
    background-color: #fff;
    text-align: center;
    color: #000;
    justify-content: center;
}

/* Editors Section */
.board {
    text-align: center;
    margin-top: 20px;
}

.board h2 {
    font-size: 40px;
    color: #a90c0c;
    padding: 10px;
}

.underline-2 {
    width: 20%;
    height: 4px;
    background-color: rgb(128, 98, 98);
    margin: 10px auto;
    border-radius: 2px;
}

.main-board {
    position: relative;
    overflow: hidden;
    background-color: #a9a9a9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Enable horizontal scrolling for editors */
.editors {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    white-space: nowrap;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    padding-bottom: 20px;
    /* Add space at the bottom */
}

/* Prevent shrinking of individual editor cards */
.editors div {
    flex: 0 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 10px;
    position: relative;
}

/* Hover Effect on Individual Editors */
.editors div:hover {
    background-color: #adadad;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
    cursor: pointer;
}

.editors div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.editors div h3 {
    background-color: whitesmoke;
    font-size: 16px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.editors div h4{
    background-color: #fff;
    font-size: 12px;
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
}

.editors div p {
    background-color: #fff;
    font-size: 10px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 10px;
}


.main-board-associate{
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;   
}

.associate-editors {
    display: flex;
    flex-direction: column;
    gap: 1px;
    transition: transform 0.3s ease-in-out;
    white-space: nowrap;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    /* scroll-behavior: smooth; */
    /* Smooth scrolling */
    padding-bottom: 20px;
    /* Add space at the bottom */
}

.associate-editors h3{
    font-size: 30px;
    color: #11ACD5;
    padding: 10px;
}

.main-board-advisory{
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;   
}

.advisory-editors{
    display: flex;
    flex-direction: column;
    gap: 1px;
    transition: transform 0.3s ease-in-out;
    white-space: nowrap;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    /* scroll-behavior: smooth; */
    /* Smooth scrolling */
    padding-bottom: 20px;
    /* Add space at the bottom */
}


.advisory-1 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-1 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-2 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-2 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-3 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-3 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-4 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-4 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-5 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-5 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-6 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-6 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-7 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-7 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-8 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-8 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-9 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-9 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-10 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-10 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-11 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-11 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-12 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-12 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-13 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-13 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-14 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-14 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-15 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-15 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-16 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-16 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-17 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-17 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-18 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-18 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-19 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-19 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-20 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-20 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-21 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-21 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-22 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-22 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-23 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-23 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-24 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-24 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-25 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-25 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-26 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-26 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-27 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-27 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-27b h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-27b h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-28 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-28 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-29 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-29 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-30 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-30 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-31 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-31 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-32 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-32 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

.advisory-33 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}

.advisory-33 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}
.advisory-34 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}
.advisory-34 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}
.advisory-35 h3{
    font-size: 25px;
    color: #11ACD5;
    text-align: center;
    margin-top: 10px;
}
.advisory-35 h4{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}
.hr{
    width: 100%;
    height: 2px;
    /* margin: 20px 0px; */
    background-color: black;
    border: none;
}
